.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.form-wrapper{
    width: 100%;
}

.form-item{
    display: flex;
    justify-content: center;
    align-items: center;
}